.upperpage{
  background-color: #b3b3b9;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  position:fixed;
  top:0;
  left:0;
  right:0;
  height:30px;
  border: 1px;
}

.upperpage > a {
  float: right;
  margin-right: 15px;
}

.footer{
  border-radius: 10px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
  background-color: #b3b3b9;

  padding-top: 1%;
  padding-bottom: 1%;
  height:1%;
}

.login_elem{
  text-align: center;
}

.log {
  background : #ECF0F1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  margin: auto;

}



.input_text{
  border-radius: 20px; 
  border-style: groove; 
  border-color: lightgrey;
  color:black;
}

#logo_parcode{
  width: 6em;
  border-radius: 20px; 
  border-style: outset; 
  border-top-color: red; 
  border-left-color: red;
  border-bottom-color:grey;
  border-right-color: grey;
}


#falseLog{
  width: 250px;
  margin: auto;
  border-radius: 200px;
  border-style: solid;
  box-shadow: 0px 0px 1000px grey;
  font-size:1em;
  color:red;
  text-align:center;
    animation-name: anim_log;
    animation-duration: 3s;
   visibility:hidden;
}

@keyframes anim_log {
    from {visibility:visible;
      background-color:lightgrey;}
    to {visibility:hidden;}
}

pre, textarea{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
}

.flex-container{
  display: flex;
  flex-direction: column;
}

.flex-container > div {
 
  display: flex;
  flex-direction: column;
  color : darkgrey;
  background-color: #2E4053;
  text-align: left;
  border-radius: 10px; 
}

.main{
  padding-top:30px;
}

.success{
  color: #ff0000;
}

.setCentral{
  display: block;
  margin-left: auto;
  margin-right: auto;
}


body {
  margin: 5px;
  min-width: 50%;
  font-family: Arial,Arial Black;
  background-color: #ECF0F1;
}

#hiddenForm, #hiddenCommentForm{
  visibility: hidden;
}

#buttonEdit{
  border-radius: 10px;
  text-align: center;
  margin-right : 95%;
}
.successMessage {
  width: 250px;
  margin: auto;
  border-radius: 200px;
  border-style: solid;
  font-size:1em;
  text-align: center;
  animation-name: anim_success;
  animation-duration: 3s;
  visibility:hidden;
}

@keyframes anim_success {
    from {visibility:visible;
      color:green;}
    to {visibility:hidden;
      color:white;}
}



a , .button{
  border-radius: 20px;
  border-style: outset;
  border-color: lightgrey;
  background-color: lightgrey;
  text-decoration-color: lightgrey;
  color :black;
  text-align: center;
}

a:hover, .button:hover /* Apparence au survol des liens et boutons */
{
  text-decoration: underline;
  color: darkgrey;
  border-color: #2E4053;
  background-color: white;
  text-decoration-color: white;
}

.addComment, textarea {
  display: grid;
  margin-right: 1%;
  margin-left: auto;
  width: 99%;
  min-height: 5em;
  min-width: 99%;
  resize: vertical;

  color : darkgrey;
  background-color: #2E4053;
  text-align: left;
  border-radius: 10px; 
}

hr{
  color : white;
  width: 100%;
}