.upperpage{
  
  background-color: #b3b3b9;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  padding-left: 20px;
  position:sticky;
  top:0;
  left:0;
  right:0;
  border: 1px;
  height:5%;
}

.upperpageA{
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.upperpageA > a{
  margin: 5px;
}
#formSort > select{
  margin: 10px;
}
#footer{
  background-color: #b3b3b9;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  bottom: 0;
  left: 0; 
  right: 0;
  margin-top: 30px;
  border-radius: 10px;
  text-align:center;

}
.logForm{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin-left:auto;
  margin-right:auto;
}
textarea.flex-container{
  max-width:60%;
  min-width:60%;
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
}
.logCancel,#signUpButton{
  display: flex;
  flex-direction: column;
  margin:auto;
  max-width: 250px;
}
.inputText{
  border-radius: 20px; 
  padding:0.2em;
  border-style: groove; 
  border-color: lightgrey;
  color:black;
  text-align: center;
  align-content: center;
}

#logo_parcode{
  display:block;
  margin-right: auto;
  margin-left: auto;
  width: 6em;
  border-radius: 20px; 
  border-style: outset; 
  border-top-color: red; 
  border-left-color: red;
  border-bottom-color:grey;
  border-right-color: grey;
}



#falseLog{
  width: 250px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 200px;
  border-style: solid;
  box-shadow: 0px 0px 1000px grey;
  font-size:1em;
  color:red;
  text-align:center;
    animation-name: anim_log;
    animation-duration: 3s;
   visibility:hidden;
}

@keyframes anim_log {
    from {visibility:visible;
      background-color:lightgrey;}
    to {visibility:hidden;}
}

pre, textarea{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    margin:0;
}

.flex-container{
  display: flex;
  flex-direction: column;
  color : darkgrey;
  background-color: #2E4053;
  text-align: left;
  border-radius: 10px; 
  margin :10px;
  padding: 1em;
}

.buttonEditCode{
  display : flex;
  flex-direction: column;
  margin:auto;
}

main{
  padding-top:30px;
}

.success{
  color: #ff0000;
}


body {
  margin: 6px;
  min-width: 50%;
  font-family: Arial,Arial Black;
  background-color: #ECF0F1;
  text-align: center;
}

#buttonEdit{
  border-radius: 10px;
  text-align: center;
  margin-right : 95%;
}
.successMessage {
  width: 250px;
  margin: auto;
  border-radius: 200px;
  border-style: solid;
  font-size:1em;
  text-align: center;
  animation-name: anim_success;
  animation-duration: 3s;
  visibility:hidden;
}

@keyframes anim_success {
    from {visibility:visible;
      color:green;}
    to {visibility:hidden;
      color:#ECF0F1;}
}

#discard{
  background-color: #F5B041;
  text-decoration-color: #F5B041;
  color:white;
  margin-top: 10px;
}

.button[value*="Edit"],.editRef{
  background-color: #5DADE2;
  color:white;
  margin-bottom: 20px;
  margin-top: 20px;
}

.button[value="Submit"]{
  background-color: #52BE80;
  color:white;
  margin-bottom: 20px;
  margin-top: 20px;
}

label{
  margin-left: 10px;
  margin-right: 10px;
}
a, .button{
  border-radius: 20px;
  border-style: outset;
  border-color: lightgrey;
  background-color: lightgrey;
  text-decoration-color: lightgrey;
  color :black;
  text-align: center;
  cursor: pointer;
  max-width: 250px;
  min-width: 5%;
  padding: 0.2em;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

a:hover, .button:hover
{
  text-decoration: underline;
  color: darkgrey;
  border-color: #2E4053;
  background-color: white;
  text-decoration-color: white;
}


.addComment, textarea {
  display: grid;
  margin-right: 1%;
  margin-left: auto;
  width: 99%;
  min-width: 99%;
  resize: vertical;
  white-space: pre-wrap;
  color : darkgrey;
  background-color: #2E4053;
  text-align: left;
  border-radius: 10px; 
}

hr{
  color : white;
  width: 100%;
}